.card-exp-width{
  width: 100%;
  max-width: 400px;
  height: auto;
}
.card-text{
    text-align: justify;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f4f4f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card-exp-width:hover .image {
    opacity: 0.1;
  }
  
  .card-exp-width:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: #5f6368;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
  }

  .exp-content h1 {
    color: black;
  }

  @media screen and (max-width: 600px) {
    .text {
      color: #5f6368;
      font-size: 12px;
      padding: 8px 16px;
      text-align: center;
    }
  
}