@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  background: "#dfdfdf";
  font-family: 'Montserrat', sans-serif;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-title{
  color: white !important;
}